name: build

on:
  push:
  pull_request:

jobs:
  gradle-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Run Gradle build
        run: make -C app build

      - name: Run tests
        run: make -C app test

      - name: Generate Jacoco coverage report
        run: make report

      - name: Upload Jacoco report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: app/build/reports/jacoco/test/jacocoTestReport.xml
